body{
  background-color: rgb(32, 32, 32);
  background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
  background-size: 10px 10px, 10px 10px, 10px 5px;
  background-position: 0px 0px, 5px 5px, 0px 0px;
}

.navbar{
background-image: url("tiny_grid.png");
background-size:repeat;
width:90%;
position: relative;
margin-left:5%;
margin-top:5%;
border-top-left-radius:10px;
border-top-right-radius: 10px;
}

.navbar:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 92%;
    padding-top: 2vh;
    border-bottom: 3px solid dimgrey;
}


#title {
color:white;
text-align:center;
width:100%;
font-family: 'Marck Script', cursive;
font-weight:800;
padding-top: 3vh;
}

.navbar h1 {
color:black ;
text-align:center;
font-weight: 600;
font-size:5.5vh;
margin-top: 0vh;
padding-top: 2vh;
}

#about{
  width:90%;
  display:flex;
  flex-direction: row;
  padding-top:10px;
  padding-bottom:10px;
  font-family: 'Patrick Hand', cursive;
  font-size:3.5vh;
  margin-left:5%;
  background-image: url("tiny_grid.png");
  background-size:repeat;
}

#about img{
  width:28vh;
  height:28vh;
  margin-top:3.5vh;
  border-radius:10px;
  margin-right:2.5%;
  border:5px solid black;
  margin-left:4.5%;
}

#about .p{
  font-family: 'Patrick Hand', cursive;
  margin-right: 3%;
}

#projects {
  height: 60%;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project {
  width: 30%;
  min-width: 250px;
  margin-bottom:25px;
}

.project h2 {
  text-align: center;
  font-family: 'Patrick Hand', cursive;
  font-size: 3vh;
}

.project img {
  width: 100%;
  height: 55%;
  border:2px black solid;
}

.pic:hover{
  opacity:0.7;
}

.project_info {
  width: 90%;
  line-height: 1.5em;
  margin-left:25px;
  font-family: 'Patrick Hand', cursive;
  margin-bottom:7vh;
}

.portfolio:before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 92%;
    padding-top: 20px;
    border-bottom: 3px solid dimgrey;
}

.portfolio:after {
    content: "";
    display: block;
    margin:0 auto;
    margin-top: 8vh;
    width: 92%;
    padding-top: 20px;
    border-bottom: 3px solid dimgrey;
}


.portfolio {
  margin-left:5%;
  height: 95%;
  width:90%;
  padding-bottom:5vh;
  padding-top:2vh;
  background-image: url("tiny_grid.png");
  background-size:repeat;
  margin-bottom:0px;
}

.portfolio h1{
  text-align: center;
  font-family: 'Patrick Hand', cursive;
  font-size:5vh;
  margin-bottom:10px;
}

.skill_display{
  width:90%;
  margin-left:5%;
  background-image: url("tiny_grid.png");
  background-size:repeat;
  margin-top: 0px;
  margin-bottom:0px;
  padding-top:20px;
}

.skill_display:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 92%;
    padding-top: 20px;
    border-bottom: 3px solid dimgrey;
}

.skill_display h1{
  text-align: center;
  font-family: 'Patrick Hand', cursive;
  font-size:5vh;
  margin-bottom:10px;
}

.skill_display p{
  text-align: center;
  font-family: 'Patrick Hand', cursive;
}

.skill{
  width:20vh;
  height:20vh;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  margin-bottom:10vh;
  border:2px solid black;
}

.containerTab {
  color: black;
  background-image: url("tiny_grid.png");
  background-size:repeat;
  width:90%;
  height:35vh;
  margin-left:5%;
  margin-bottom:5vh;
  border:2px black solid;
  font-size: 2.5vh;
}

.containerTab h2{
  text-align: center;
  width:100%;
  margin:0px;
  padding:0px;
}

.containerTab p{
  width:70%;
  text-align:left;
  margin-left: 15%;
  margin-top: 5vh;
}

/* Clear floats after the columns */
.skill_display:after {
  content: "";
  display: table;
  clear: both;
}

/* Closable button inside the container tab */
.closebtn {
  color: red;
  font-size: 35px;
  cursor: pointer;
  margin-left:2vh;
}

.hidden{
  display:none;
}

.skills{
  width:90%;
  margin-left:5%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top:5vh;
}

#java:hover{
  opacity:0.5;
}

#python:hover{
  opacity:0.5;
}

#html:hover{
  opacity:0.5;
}

#css:hover{
  opacity:0.5;
}

#sql:hover{
  opacity:0.5;
}

#javascript:hover{
  opacity:0.5;
}

#java{
  background-image: url("java.png");
  background-size:contain;
}

#sql{
  background-image: url("sql.png");
  background-size:contain;
}

#css{
  background-image: url("css.png");
  background-size:contain;
}

#python{
  background-image: url("python.png");
  background-size:contain;
}

#javascript{
  background-image: url("jscript.png");
  background-size:contain;
}

#html{
  background-image: url("html.png");
  background-size:contain;
}

.code{
  width:90%;
  margin-left:5%;
  height:15vh;
  background-image: url("tiny_grid.png");
  background-size:repeat;
  border-bottom-left-radius:10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  padding-top: 5vh;
  margin-bottom: 7vh;
  padding-bottom: 5vh;
}

.code h1{
  padding:0px;
  margin:0px;
}

.code img{
  width:25vh;
  padding:0px;
}

.code img:hover{
  opacity:0.7;
}
